.skills-page {
    h1 {
        padding: 20px;
        color: #3D550C;
        font-size: 60px;
    }
    .skills-text {
        display: flex;
        align-items: center;
        .col {
            display: flex;
            align-items: center;
            p {
                font-size: 24px;
                color: #012b09;
            }
        }
    }
}

@media (max-width: 1024px) { 
    .skills-page {
        .App-logo {
            display: none;
        }
        h1 {
            text-align: center;
            font-size: 40px;
        }
        .skills-text {
            flex-direction: column;
            .col {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}